.clickable {
  pointer-events: initial;
  cursor: pointer;
}

.unclickable {
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.animate__delay-05s {
  animation-delay: 0.5s;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.pre-line {
  white-space: pre-line;
}

a.unstyled-link {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.pb--8 {
  padding-bottom: -8px;
}
